@import url('https://fonts.googleapis.com/css?family=Roboto:300,700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin-left: 25px;
  margin-right: 25px;
}

header {
	margin-left: 25px;
}

#filter {
  border: 1px solid powderblue;
  outline: 1px solid powderblue;
  font-size: 16px;
  padding: 15px 20px;
  border-radius: 2px;
  min-width: 250px;
  transition: opacity 200ms ease-out;
  -webkit-appearance: textfield;
  appearance: textfield;
}

h1 {
	margin-top: 20px;
	margin-bottom: 10px;
}

table {
	margin-top: 50px;
}

a:hover {
	text-decoration: none;
}

.fixme {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

#scroll-top-button {
  display: inline-block;
  background-color: #40CCCC;
  text-align: center;
  width: 45px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#scroll-top-button::after {
  content: "\f106";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;  
  color: #fff;
}

#scroll-top-button:hover {
  cursor: pointer;
  background-color: #333;
}

#scroll-top-button:active {
  background-color: #555;
}

#scroll-top-button.show {
  opacity: 0.8;
  visibility: visible;
}
